.DealHand__cards-card1 {
    background: var(--text-color);
    border-radius: 10px;
    height: 141px;
    width: 103px;
    margin: 0 20px 20px 0;
  }
  
  .DealHand__card-text {
      font-family: var(--card-font);
      font-weight: bold;
      font-size: 36px;
      line-height: 40px;
      text-align: center;
      width: 25%;
      margin: 10px 0 10px 10px;
  }

@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .DealHand__cards-card1 {
    background: #FFFFFF;
    border-radius: 24px;
    transform: rotate(15deg);
    width: 192px;
    height: 264px;
  }

  .DealHand__card-text{
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .DealHand__card-text svg{
    margin-top: 20px;
  }

  .DealHand__bigSVG {
    margin-top: 80px;
  }
  
}