.Loser__card-header {
    width: 180px;
    height: 112px;
    margin: 50px auto 0;
    background: var(--card-header);
    border: 1px solid #fff48c;
    box-sizing: border-box;
}

.Loser__card-number {
    font-family: var(--card-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    margin-top: 15px;
    color: var(--text-color);
}

.Loser__card-details {
    width: 120px;
    font-family: var(--card-font);
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 100%;
    color: var(--text-color);
}

.Loser__cards {
    margin-top: 70px;
}

.Loser__deal {
    font-family: var(--card-font);
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    text-align: center;

    color: var(--text-color);
}

.Loser__deal-text {
    font-family: var(--button-font);
    font-size: 64px;
    line-height: 88px;
    text-align: center;
}

.Loser__button {
    border: 3px solid var(--button-text);
    box-sizing: border-box;
    border-radius: 14px;
    width: 199px;
    height: 50px;
    align-self: center;

    font-family: var(--button-font);
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-top: 50px;
    color: var(--button-text);
}