.Winner__card-header {
    width: 180px;
    height: 112px;
    margin: 50px auto 0;
    background: var(--card-header);
    border: 1px solid #fff48c;
    box-sizing: border-box;
}

.Winner__card-number {
    font-family: var(--card-font);
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;   
    color: var(--text-color);
}

.Winner__card-details {
    display: flex;
    margin-top: -30px;
    align-items: center;
}

.Winner__label {
  margin-top: -50px;
}

.Winner__leftSVG {
  position: relative;
  left: 10px;
  top: 20px;
}

.Winner__label p {
    z-index: 1;
    position: relative;
    top: 48.5px;
    left: 5px;
    font-family: var(--card-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: var(--text-color);
}

.Winner__cards {
    margin-top: 70px;
}

.Winner__deal {
    background: var(--button-text);
    border-radius: 14px;
    width: 309px;
    height: 103px;
    margin: 60px auto 0;
}

.Winner__deal-text {
    font-family: var(--button-font);
    font-size: 64px;
    line-height: 88px;
    text-align: center;
}

.Winner__button {
    border: 3px solid var(--button-text);
    box-sizing: border-box;
    border-radius: 14px;
    width: 199px;
    height: 50px;
    align-self: center;

    font-family: var(--button-font);
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    margin-top: 50px;
    color: var(--button-text);
}
